
.title{
  color: blueviolet;
}

.link {
  padding: 4px;
  color: #fff;
  background-color: #4481c3;
  border: 2px solid  #65a0f8;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  text-shadow: 1px 0 0, 0.5px 0 0, -1px 0 0;
  line-height: 1.2;
  letter-spacing: 2px;
}
